@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Titan One', cursive; */
}

body {
    background-color: #FFFFFF;
}

:root {
    /* NEUTRAL COLORS v1 */
    --black: #000000;

    /* NEUTRAL COLORS v2 */
    --gray-100: #dddddd;
}

a {
    text-decoration: none;
}

/* ================================ */
/* ====|                      |==== */
/* ====|                      |==== */
/* ====|        NAVBAR        |==== */
/* ====|                      |==== */
/* ====|                      |==== */
/* ================================ */

.nav {
    padding: 2em 3em;
    border-bottom: .5px solid var(--gray-100);
}

.nav__brand--name {
    color: var(--black);
    font-family: 'Titan One', cursive;
    font-size: 1.5rem;
}

/* ================================ */
/* ====|                      |==== */
/* ====|                      |==== */
/* ====|        HOME          |==== */
/* ====|                      |==== */
/* ====|                      |==== */
/* ================================ */


.hero-section {
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__content {

}

.hero__content--info {
    font-weight: 200;
    font-size: 3.8rem;
}
